doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Users List
    body
        <a href="/register">Registrarse</a>
        table(style='width:100%, text:center', border='1') 
            thead 
                tr 
                    th Name 
                    th Email 
            tbody
                each data in list 
                    tr 
                        td= data.name
                        td= data.email

